[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest
[submodule "External/magic_enum"]
	path = External/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "External/RwLock"]
	path = External/RwLock
	url = https://github.com/SideShowBoBGOT/RwLock
[submodule "External/CLI11"]
	path = External/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "External/matplotplusplus"]
	path = External/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus
