[submodule "external/RwLock"]
	path = external/RwLock
	url = https://github.com/SideShowBoBGOT/RwLock
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
